/* Import Rubik font from the fonts dir */
@font-face {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 400;
  src: url('./fonts/Rubik-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 600;
  src: url('./fonts/Rubik-Medium.ttf') format('truetype');
}

:root {
  font-family: 'Rubik', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 12pt;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden;
}

* {
  &::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background: var(--light-shadow);

    &:hover {
      background: var(--medium-shadow);
    }

    &:active {
      background: var(--accent-shadow);
    }
  }
}

.hidden {
  display: none;
}

.view-container {
  height: 100%;
}

/* Common dialog styles */
.dialog {
  @media screen and (min-width: 450px) {
    max-width: 400px;
  }

  @media screen and (min-width: 700px) {
    max-width: 500px;
  }

  >.dialog-content {
    color: var(--main-fg);
    display: grid;
    grid-template-rows: max-content minmax(0, 1fr) max-content;
    width: 100%;
    min-width: 400px;
    max-height: 90vh;

    >.title {
      color: var(--weak-fg);
      padding: 12px;
      padding-bottom: 6px;
      font-size: 18pt;
    }

    >.icon-title {
      display: grid;
      grid-template-columns: max-content 1fr;
      padding: 12px;
      grid-column-gap: 1em;

      >iconify-icon {
        place-self: center;
      }

      >span {
        color: var(--weak-fg);
        padding-bottom: 6px;
        font-size: 18pt;
        max-width: 400px;
      }
    }

    >.content {
      min-height: 0;
      margin: 0 12px;
      padding: 0.66em 0.5em;
      padding-top: 1em;
      border-top: 1px solid var(--light-shadow);
    }


    >.buttons {
      display: flex;
      padding: 16px;
      justify-content: flex-end;

      >button {
        font-size: 16px;
        flex: 1;
        flex-grow: 0.33;
      }
    }
  }

  /* If the screen is smaller than 400px,
 set the min-width to 0 */
  @media screen and (max-width: 450px) {
    .dialog-content {
      min-width: 0;
    }
  }
}