// Regular Font
@font-face {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 400;
  src: url('./fonts/Rubik-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Rubik';
  font-style: italic;
  font-weight: 400;
  src: url('./fonts/Rubik-Italic.ttf') format('truetype');
}

// Medium Font
@font-face {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 600;
  src: url('./fonts/Rubik-Medium.ttf') format('truetype');
}

@font-face {
  font-family: 'Rubik';
  font-style: italic;
  font-weight: 600;
  src: url('./fonts/Rubik-MediumItalic.ttf') format('truetype');
}

// Extra Light Font
@font-face {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 200;
  src: url('./fonts/Rubik-Light.ttf') format('truetype');
}

@font-face {
  font-family: 'Rubik';
  font-style: italic;
  font-weight: 200;
  src: url('./fonts/Rubik-LightItalic.ttf') format('truetype');
}

// Bolder Font
@font-face {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 700;
  src: url('./fonts/Rubik-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'Rubik';
  font-style: italic;
  font-weight: 700;
  src: url('./fonts/Rubik-BoldItalic.ttf') format('truetype');
}

// Black Font
@font-face {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 800;
  src: url('./fonts/Rubik-Black.ttf') format('truetype');
}

@font-face {
  font-family: 'Rubik';
  font-style: italic;
  font-weight: 800;
  src: url('./fonts/Rubik-BlackItalic.ttf') format('truetype');
}


:root {
  font-family: 'Rubik', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 12pt;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100vh;
  overflow: hidden;
  user-select: none;
  -webkit-user-select: none;
}

.button {
  font-size: 13.333px;
}

* {
  &::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background: var(--light-shadow);

    &:hover {
      background: var(--medium-shadow);
    }

    &:active {
      background: var(--accent-shadow);
    }
  }
}

.hidden {
  display: none !important;
}

.view-container {
  height: 100%;
}

// ANCHOR Colors
.tool-button {
  &.primary {
    --bg: var(--btn-primary-bg);
    --border: var(--btn-primary-border);
    --fg: var(--btn-primary-fg);
    --bg-hover: var(--btn-primary-bg-hover);
    --border-hover: var(--btn-primary-border-hover);
    --fg-hover: var(--btn-primary-fg-hover);
    --fg-active: var(--fg-hover);
    --fg-selected: var(--accent-fg);
    --bg-disabled: var(--btn-primary-bg-disabled);
    --border-disabled: var(--btn-primary-border-disabled);
    --fg-disabled: var(--btn-primary-fg-disabled);
  }

  &.secondary {
    --bg: var(--btn-secondary-bg);
    --border: var(--btn-secondary-border);
    --fg: var(--btn-secondary-fg);
    --bg-hover: var(--btn-secondary-bg-hover);
    --border-hover: var(--btn-secondary-border-hover);
    --fg-hover: var(--btn-secondary-fg-hover);
    --fg-active: var(--fg-hover);
    --fg-selected: var(--btn-primary-bg);
    --bg-disabled: var(--btn-secondary-bg-disabled);
    --border-disabled: var(--btn-secondary-border-disabled);
    --fg-disabled: var(--btn-secondary-fg-disabled);
  }

  &.transparent {
    --bg: transparent;
    --border: transparent;
    --fg: var(--weak-fg);
    --bg-hover: transparent;
    --border-hover: transparent;
    --fg-hover: var(--main-fg);
    --fg-active: var(--accent-fg);
    --bg-disabled: transparent;
    --border-disabled: transparent;
    --fg-disabled: var(--light-shadow);
  }

  &.warning {
    --bg: var(--btn-warning-bg);
    --border: var(--btn-warning-border);
    --fg: var(--btn-warning-fg);
    --bg-hover: var(--btn-warning-bg-hover);
    --border-hover: var(--btn-warning-border-hover);
    --fg-hover: var(--btn-warning-fg-hover);
    --fg-active: var(--fg-hover);
    --fg-selected: var(--accent-fg);
    --bg-disabled: var(--btn-warning-bg-disabled);
    --border-disabled: var(--btn-warning-border-disabled);
    --fg-disabled: var(--btn-warning-fg-disabled);
  }
}

.button {
  &.warning {
    --btn-bg: var(--btn-warning-bg);
    --btn-bg-hover: var(--btn-warning-bg-hover);
    --btn-border: var(--btn-warning-border);
    --btn-border-hover: var(--btn-warning-border-hover);
    --btn-fg: var(--btn-warning-fg);
    --btn-fg-hover: var(--btn-warning-fg-hover);
    --btn-bg-disabled: var(--btn-warning-bg-disabled);
    --btn-fg-disabled: var(--btn-warning-fg-disabled);
    --btn-border-disabled: var(--btn-warning-border-disabled);
  }

  &.secondary {
    --btn-bg: var(--btn-secondary-bg);
    --btn-bg-hover: var(--btn-secondary-bg-hover);
    --btn-border: var(--btn-secondary-border);
    --btn-border-hover: var(--btn-secondary-border-hover);
    --btn-fg: var(--btn-secondary-fg);
    --btn-fg-hover: var(--btn-secondary-fg-hover);
    --btn-bg-disabled: var(--btn-secondary-bg-disabled);
    --btn-fg-disabled: var(--btn-secondary-fg-disabled);
    --btn-border-disabled: var(--btn-secondary-border-disabled);
  }

  &.primary {
    --btn-bg: var(--btn-primary-bg);
    --btn-bg-hover: var(--btn-primary-bg-hover);
    --btn-border: var(--btn-primary-border);
    --btn-border-hover: var(--btn-primary-border-hover);
    --btn-fg: var(--btn-primary-fg);
    --btn-fg-hover: var(--btn-primary-fg-hover);
    --btn-bg-disabled: var(--btn-primary-bg-disabled);
    --btn-fg-disabled: var(--btn-primary-fg-disabled);
    --btn-border-disabled: var(--btn-primary-border-disabled);
  }
}

// ANCHOR Input
.input {
  background: var(--input-bg);
  color: var(--input-fg);
  border: 1px solid var(--input-border);

  cursor: text;
  user-select: none;

  min-width: 0;
  max-width: 100%;
  overflow: hidden;
  border-radius: 4px;
  padding: 4px 6px;
  margin: 2px;

  &::-webkit-input-placeholder {
    color: var(--input-placeholder);
  }

  &:focus {
    outline: 1px solid var(--accent-fg);
    outline-offset: 1px;
  }
}

// ANCHOR Quick flexible formatting
.form {
  display: flex;
  flex-flow: column nowrap;
  gap: 8px;

  input,
  .select,
  .option {
    font-size: 14px;
  }

  .row {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: center;
    gap: 4px;
  }

  .half-row {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 4px;
    align-items: center;
  }

  .tq-row {
    display: grid;
    grid-template-columns: 150px 3fr;
    gap: 4px;
    align-items: center;
  }

  .tqb-row {
    display: grid;
    grid-template-columns: 150px 3fr max-content;
    gap: 4px;
    align-items: center;
  }

  .half-max-row {
    display: grid;
    grid-template-columns: 1fr max-content 1fr;
    gap: 4px;
  }

  .hr {
    width: 100%;
    border-bottom: 1px solid var(--light-shadow);
  }

  .title {
    text-transform: uppercase;
    text-align: center;
    color: var(--weak-fg);
  }

  .dark {
    background: var(--medium-bg);
    padding: 8px;
    border-radius: 8px;
  }

  .subtitle {
    text-align: center;
    color: var(--weak-fg);
  }

  .padding {
    color: transparent;
    user-select: none;
    -webkit-user-select: none;
  }
}

// ANCHOR Common dialog styles
.dialog {
  @media screen and (min-width: 450px) {
    max-width: 400px;
  }

  @media screen and (min-width: 700px) {
    max-width: 500px;
  }

  overflow: hidden;

  >.dialog-content {
    color: var(--main-fg);
    display: grid;
    grid-template-rows: max-content minmax(0, 1fr) max-content;
    width: 100%;
    min-width: 400px;
    max-height: 90vh;
    overflow: hidden;

    >.title {
      color: var(--weak-fg);
      padding: 12px;
      padding-bottom: 6px;
      font-size: 18pt;
    }

    >.icon-title {
      display: grid;
      grid-template-columns: max-content 1fr;
      grid-column-gap: 1em;
      padding: 12px;
      padding-bottom: 6px;

      >iconify-icon {
        place-self: center;
        font-size: 1.5em;
      }

      >span {
        color: var(--weak-fg);
        font-size: 18pt;
        max-width: 400px;
      }
    }

    >.content {
      min-height: 0;
      margin: 0 12px;
      padding: 0.66em 0.5em;
      padding-top: 1em;
      border-top: 1px solid var(--light-shadow);
      display: grid;
      overflow-y: scroll;
    }


    >.buttons {
      display: flex;
      padding: 16px;
      justify-content: flex-end;

      >button {
        font-size: 16px;
        flex: 1;
        flex-grow: 0.33;
      }
    }
  }

  /* If the screen is smaller than 400px,
 set the min-width to 0 */
  @media screen and (max-width: 450px) {
    .dialog-content {
      min-width: 0;
    }
  }
}

// ANCHOR Resize Handles
.resize-handle.left {
  &::before {
    content: "";
    position: absolute;
    width: 4px;
    margin-left: -4px;
    height: 100%;

    transition: box-shadow 50ms ease-in-out;
  }

  &:hover::before {
    box-shadow: inset -2px 0 0 2px var(--light-shadow);
  }

  &:active::after {
    content: "";
    cursor: col-resize;
    z-index: 1000;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
  }

  cursor: col-resize;
}

.resize-handle.top {
  &::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 4px;
    margin-top: -4px;
    cursor: row-resize;
    transition: box-shadow 50ms ease-in-out;
  }

  &:hover::before {
    box-shadow: inset 0 -2px 0 2px var(--light-shadow);
  }

  &:active::after {
    content: "";
    position: fixed;
    cursor: row-resize;
    z-index: 1000;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
  }
}

.binding {
  color: var(--weak-fg);
}

// ANCHOR Toolbar
.toolbar {
  display: grid;
  grid-template-columns: 1fr max-content;
  align-items: center;
  gap: 8px;

  overflow-x: auto;
  overflow-y: hidden;

  grid-area: toolbar;
  background: var(--strong-bg);
  box-shadow: 0 1px 0 var(--light-shadow);
  z-index: 1;

  .buttons {
    display: flex;
    flex-flow: row nowrap;
    padding: 0 2px;
    gap: 2px;

    .separator {
      color: transparent;
    }
  }

  .actions {
    display: flex;
    flex-flow: row nowrap;
    padding: 0 2px;
    gap: 2px;
    align-items: center;

    .action {
      padding: 4px 8px;
      border-radius: 8px;
      cursor: pointer;
      background: var(--warn-card-bg);
      color: var(--warn-card-fg);
      border: 1px solid var(--warn-card-border);
      justify-self: last baseline;

      &:hover {
        background: var(--warn-card-bg-hover);
        color: var(--warn-card-fg-hover);
        border-color: var(--warn-card-border-hover);
      }
    }
  }

  &::-webkit-scrollbar {
    -webkit-appearance: none;
    display: none;
  }
}