:root {
    --main-bg: #0f0f12;
    --main-fg: #f2f2f0;
    --strong-bg: #000000;
    --strong-fg: #ffffff;
    --weak-bg: #1f1f22;
    --weak-fg: #b2b2b0;
    --error-fg: #ff511c;
    /* An orangey yello */
    --warn-bg: #ffc107;
    --warn-fg: #602a00;
    --warn-border: #c45500;
    --warn-icon: var(--warn-border);

    /* Buttons */
    --btn-primary-bg: #2f2f32;
    --btn-primary-fg: var(--main-fg);
    --btn-primary-border: #39393d;
    --btn-primary-bg-hover: #555558;
    --btn-primary-fg-hover: var(--strong-fg);
    --btn-primary-border-hover: #7f7f85;
    --btn-primary-bg-disabled: #5f5f63;
    --btn-primary-fg-disabled: var(--weak-fg);
    --btn-primary-border-disabled: #5c5c5f;

    --btn-secondary-bg: #2760b6;
    --btn-secondary-fg: var(--strong-fg);
    --btn-secondary-border: #193b6e;
    --btn-secondary-bg-hover: #4886e2;
    --btn-secondary-fg-hover: var(--strong-fg);
    --btn-secondary-border-hover: #81b3ff;
    --btn-secondary-bg-disabled: #566a86;
    --btn-secondary-fg-disabled: var(--weak-fg);
    --btn-secondary-border-disabled: #72829c;

    --btn-warning-bg: #2f2f32;
    --btn-warning-fg: #ffc107;
    --btn-warning-border: #ffc107;
    --btn-warning-bg-hover: #ffc107;
    --btn-warning-fg-hover: #8b4108;
    --btn-warning-border-hover: #8b4108;
    --btn-warning-bg-disabled: #8a753d;
    --btn-warning-fg-disabled: var(--weak-fg);
    --btn-warning-border-disabled: #8a753d;

    --btn-warning-bg: #2f2f32;
    --btn-warning-fg: #ffc107;
    --btn-warning-border: #ffc107;

    /* --btn-warning-bg: #ffc107;
    --btn-warning-fg: var(--warn-fg);
    --btn-warning-border: #ecae03;
    --btn-warning-bg-hover: #ffd65a;
    --btn-warning-fg-hover: #8b4108;
    --btn-warning-border-hover: #ffecb4;
    --btn-warning-bg-disabled: #ffc822;
    --btn-warning-fg-disabled: var(--warn-fg);
    --btn-warning-border-disabled: #c45500; */

    /* Tabs */
    --tabs-bg: #2c3e50;
    --tab-selected-bg: var(--main-bg);
    --tab-selected-border: #536476;
    --tab-border-width: 2px;
    --tabs-fg: var(--main-fg);

    /* Card */
    --card-bg: #1f1f22;
    --card-border: #39393d;
    --card-hover-bg: #2f2f32;
    --card-hover-border: #555558;

    --card-selected-bg: #132b4e;
    --card-selected-border: #1f3b6e;
    --card-selected-bg-hover: #1f3b6e;
    --card-selected-border-hover: #1f3b6e;

    /* Select */
    --sel-bg: #1f1f22;
    --sel-fg: var(--main-fg);
    --sel-border: #39393d;

    /* Option */
    --opt-bg: #1f1f22;
    --opt-fg: var(--main-fg);
    --opt-bg-hover: var(--main-bg);
    --opt-fg-hover: var(--accent-fg);

    /* Context Menu */
    --ctx-bg: var(--weak-bg);
    --ctx-fg: var(--main-fg);
    --ctx-outline-hover: #696969;
    --ctx-bg-hover: var(--main-bg);
    --ctx-fg-hover: var(--accent-fg);

    /* Inputs */
    --input-bg: #1f1f22;
    --input-fg: var(--main-fg);
    --input-border: #39393d;
    --input-placeholder: var(--weak-fg);

    /* Dialogs */
    --dialog-bg: #1f1f22;
    --dialog-border: #39393d;
    --dialog-shadow: #00000080;

    /* Tooltip */
    --tooltip-bg: #1f1f22;
    --tooltip-fg: var(--main-fg);
    --tooltip-border: #39393d;

    --light-shadow: #f2f2f040;
    --medium-shadow: #f2f2f080;
    --hard-shadow: #f2f2f0c0;
    --accent-shadow: #40d4f2c0;
    --accent-fg: #40d4f2;

    background-color: var(--main-bg);
    color: var(--main-fg);
}